@media screen and (max-width: 575px) {    
	.cart-content{		
		width: 100%;		
		padding-left: 0px;	
	}	
	.cart-image-box{		
		width: 100%;	
	}	
	.cart-content-details{	
		width: 100%;		
		text-align: center;	
	}	
	.cart-content-btn-div{		
		width: 100%;	
	}
	.review-group{		
		justify-content: center;	
	}	
	.order-list-detail-price{		
		text-align: center;	
	}
}
@media (min-width: 768px){	
	.modal-dialog {	    
		width: 490px;	
	}
}
@media (max-width: 407px){	
	.customer-review-body {	    
		padding: 43px 6px;	
	}
}
@media (max-width: 1000px ){
    .select-your-time-pl-0{
    	padding: 0;
    }
}
@media (max-width: 992px ){
    .user-crop-image{
    	margin-top: 60px;
    }
}
@media (max-width: 767px ){	
	.navbar-rightside-list{		
		text-align: right;	
	}
	.creator-reviews-text{		
		max-width: 100%;	
	}	
	.rating{		
		width: 100%;	
	}	
	.review-text-div{		
		display: block;	
	}
	.order-list-cart-content-btn-div{

	}
	.food-register-form-group{
		padding: 0;
	}
	.support-main-box{	
		padding: 30px 15px 30px 15px;	
	}	
}
@media screen and (min-width: 576px) and (max-width: 991px){    
	.review-group{    	
		/*display: block;    */
		justify-content: flex-start;
	}    
	.review-group{    	
		margin-top: 7px;    
	}	
	.cart-content-details{	    
		width: 100%;
	}
	.cart-content-details-border{
		border-bottom: 1px solid #ccc;	    
		margin-bottom: 22px;	    
		padding-bottom: 20px;	
	}
	.order-list-detail-price{
		text-align: left;
	}
}
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .sign-in {
        display: inline;
        float: right;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
@media (min-width: 1200px) {
	.logout-border-menu{
		margin-top: 16px;
	}
}