@media screen and (max-width: 576px) {    
	.cart-content{		
		width: 100%;		
		padding-left: 0px;	
	}	
	.cart-image-box{		
		width: 100%;	
	}	
	.cart-content-details{	
		width: 100%;		
		text-align: center;	
	}	
	.cart-content-btn-div{		
		width: 100%;	
	}
}
@media (min-width: 768px){	
	.modal-dialog {	    
		width: 490px;	
	}
}
@media (max-width: 407px){	
	.customer-review-body {	    
		padding: 43px 6px;	
	}
}
@media (max-width: 1000px ){
    .select-your-time-pl-0{
    	padding: 0;
    }
}
