.error{
	color: red;
}
.p-0{
	padding: 0;
}
.pl-0{
	padding-left: 0;
}
.pr-0{
	padding-right: 0;
}
.d-inline-block{
	display: inline-block;
}
.timetable-btn{
	float: right;
}
.start-time-id {
    width: 100%;
    display: inline-block;
}
.t-red{
	color: red;
}
.float-right{
	float: right;
}
.create-food-timestart{
	padding-left: 0;
}
.create-food-timeend{
	padding-right: 0;
}
.user-editcoverimg{
	width: 100%;
}
.create-user-crop-btn{
	margin-top: 18px;
}
.create-user-close-crop{
	float: right;
    font-size: 20px;
    cursor: pointer;
}
.user-list-btn{
	margin: 3px;
}