.error{
	color: red;
}
.back-orange{
  background-color: #f26522 !important;
}
.p-0{
	padding: 0;
}
.pl-0{
	padding-left: 0;
}
.pr-0{
	padding-right: 0;
}
.d-inline-block{
	display: inline-block;
}
.timetable-btn{
	float: right;
}
.start-time-id {
    width: 100%;
    display: inline-block;
}
.t-red{
	color: red;
}
.float-right{
	float: right;
}
.create-food-timestart{
	padding-left: 0;
}
.create-food-timeend{
	padding-right: 0;
}
.user-editcoverimg{
	width: 100%;
}
.create-user-crop-btn{
	margin-top: 18px;
}
.create-user-close-crop{
	float: right;
    font-size: 20px;
    cursor: pointer;
}
.user-list-btn{
	margin: 3px;
}
  /* multiple cropper */
 /* multiple cropper */
#galleryImages, #cropper{
  width: 100%;
  float: left;
}
canvas{
  max-width: 100%;
  display: inline-block;
}
#cropperImg{
  /*max-width: 0;
  max-height: 0;*/
}
#cropImageBtn{
  display: none;
  margin-bottom: 30px;
  margin-top: 10px;
  color: #fff;
}
.singleImageCanvas{
  max-width: 100%;
  float: left;
  max-height: 100px;
}
.crop-button{
  background-color: #f26522;
  color: #fff;
}
.singleImageCanvasContainer{
  max-width: 300px;
  display: inline-block;
  position: relative;
  margin: 4px 0px 4px 7px;
}
.singleImageCanvasCloseBtn{
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f26522;
  color: #fff;
  border: 1px solid #f26522;
  line-height: 1px;
}
.singleImageCanvasCloseBtn i{
  font-size: 13px;
}
.cropper-image-box{
  /*max-width: 0;
  max-height: 0;*/
  max-height: 300px;
}